{
    "swagger": "2.0",
    "info": {
        "title": "ERP API",
        "description": "API para integração entre ERP e Marketplace, utilizando eventos para sincronização de dados.",
        "version": "1.0.0"
    },
    "host": "api.erp.com",
    "basePath": "/v1",
    "schemes": [
        "https",
        "http"
    ],
    "paths": {
        "/orders": {
            "post": {
                "summary": "Criar pedido",
                "description": "Cria um novo pedido no ERP.",
                "operationId": "addOrder",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "requestBody",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Order"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Pedido criado com sucesso"
                    },
                    "400": {
                        "description": "Requisição inválida"
                    }
                }
            }
        },
        "/customers": {
            "post": {
                "summary": "Criar cliente",
                "description": "Cria um novo cliente no ERP.",
                "operationId": "addClient",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "requestBody",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Customer"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Cliente criado com sucesso"
                    },
                    "400": {
                        "description": "Requisição inválida"
                    }
                }
            }
        }
    },
    "definitions": {
        "Order": {
            "type": "object",
            "properties": {
                "orderId": {
                    "type": "string"
                },
                "customerId": {
                    "type": "string"
                },
                "products": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "productId": {
                                "type": "string"
                            },
                            "quantity": {
                                "type": "integer"
                            },
                            "price": {
                                "type": "number",
                                "format": "float"
                            }
                        }
                    }
                },
                "totalValue": {
                    "type": "number",
                    "format": "float"
                },
                "status": {
                    "type": "string",
                    "enum": [
                        "pending",
                        "confirmed",
                        "canceled",
                        "shipped"
                    ]
                }
            }
        },
        "Customer": {
            "type": "object",
            "properties": {
                "customerId": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "email": {
                    "type": "string",
                    "format": "email"
                },
                "phone": {
                    "type": "string"
                },
                "address": {
                    "type": "object",
                    "properties": {
                        "street": {
                            "type": "string"
                        },
                        "number": {
                            "type": "string"
                        },
                        "city": {
                            "type": "string"
                        },
                        "state": {
                            "type": "string"
                        },
                        "country": {
                            "type": "string"
                        },
                        "zipCode": {
                            "type": "string"
                        }
                    }
                }
            }
        }
    }
}